@import url(http://fonts.googleapis.com/css?family=Share);
body {
    padding-top: 50px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}
.navbar .brand {
    font-size: 18px;
    font-family: Share, sans-serif;
    font-weight: 400;
    line-height: 20px;
}
.category {
    margin: 25px 0 35px;
}
.item {
    position: relative;
    min-height: 48px;
    margin: 20px 0;
    padding-left: 50px;
}
h2 + .item {
    margin-top: 10px;
}
.item figure {
    position: absolute;
    top: 4px;
    left: 0;
    margin: 0;
}
.item figure img {
    width: 40px;
    height: 40px;
}
h2,
h3 {
    font-family: Share, sans-serif;
    font-weight: 400;
}